@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-header{
    @apply py-4 px-6 cursor-pointer
}
.accordion-header.active img{
    @apply transition ease-in-out duration-300 rotate-180
}
.accordion-body{
    @apply max-h-0 overflow-hidden transition-all duration-200 ease-out
}

.gradient-text {
    background: linear-gradient(to right,#a855f7,#ec4899,#eab308,#a855f7,#ec4899,#eab308);
    background-size: 300% 300%;
    background-clip: text;
}